<app-admin-navbar></app-admin-navbar>


<div class="container p-5">

    <p class="text-center fs-3">Admin Dashboard</p>

    


		<div class="row">
			<div class="col-md-4">
				<div class="card paint-card">
					<div class="card-body text-center text-success">
						<i class="fas fa-user-md fa-3x"></i><br>
						<p class="fs-4 text-center">
							Doctor <br>
							<span class="fs-5 text-success" id="doctorCount">{{ doctorCount }}</span>
               
						</p>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card paint-card">
					<div class="card-body text-center text-success">
						<i class="fas fa-user-circle fa-3x"></i><br>
						<p class="fs-4 text-center">
							User <br>
							<span class="fs-5 text-success" id="patientCount">{{ patientCount }}</span>
               
						</p>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card paint-card">
					<div class="card-body text-center text-success">
						<i class="fa-regular fa-calendar-check fa-3x"></i><br>
						<p class="fs-4 text-center">
							Total Appointment <br>
							<span class="fs-5 text-success" id="appointmentCount">{{ appointmentCount }}</span>
               
						</p>

					</div>
				</div>
			</div>
			<div class="col-md-4 mt-2">
				<div class="card paint-card " data-bs-toggle="modal"
					data-bs-target="#exampleModal">
					<div class="card-body text-center text-success">
						<i class="fa-regular fa-calendar-check fa-3x"></i><br>
						<p class="fs-4 text-center">
							Specialist <br>
							<span class="fs-5 text-success" id="specialistCount">{{ specialistCount }}</span>
                
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>


	



	
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Specialist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="addSpecialist(); $event.preventDefault()">
          <div class="form-group">
            <label>Enter Specialist Name</label>
            <input type="text" [(ngModel)]="specialistName" name="specialistName" class="form-control" required>      
          </div>

          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

