<div class="container">
  <h2>Appointments List</h2>
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Appointment Date</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Diseases</th>
        <th>Address</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.fullname }}</td>
        <td>{{ appointment.gender }}</td>
        <td>{{ appointment.age }}</td>
        <td>{{ appointment.appointDate }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phno }}</td>
        <td>{{ appointment.diseases }}</td>
        <td>{{ appointment.address }}</td>
        <td [ngClass]="{'pending': appointment.status === 'Pending', 'complete': appointment.status === 'complete'}">
          {{ appointment.status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
